*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container {
    max-width: 375px;
}

.logo {
    width: 127px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

p {
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-section .flex-container {
    justify-content: space-between;
    padding: 15px;
}

.visted-user-section .flex-container {
    justify-content: start;
    padding: 10px;
    border-top: solid gray .5px;
    line-height: 1.35;
    gap: 5px;
}

.font-12 {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

p.comment {
    line-height: 1.5;
    margin: 10px 0;
}

.caption-section {
    padding: 15px 10px;
    line-height: 2;
}

.icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.icon:hover {
    opacity: .5;
    cursor: pointer;
}
